.edit-car {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-car-buttons,
.edit-car-inputs {
  display: flex;
  gap: 5px;
}

.edit-car-color {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  outline: none;
  border: none;
}
