:root{
    --padding-horizontal: 240px;
    --max-container-width:1920px;
    --dark-background: #030303;
    --red-background:#710707;
    --white-text:#ffffff;
    --black-text:#000000;
    --golden-text:#9d8665;
    --golden-light:#D2B183;
    --font-roboto: 'Roboto', sans-serif;
    --font-forum: 'Forum', cursive;
    --golden-filter: invert(72%) sepia(0%) saturate(650%) hue-rotate(156deg) brightness(85%) contrast(88%);
    --welcome-slider-offset: 0px;        
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: var(--font-roboto);
    font-style: normal;
}

h2, h3{
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-forum);
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
}
h3{
    font-size: 32px;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:active, button:active{
    font-style: italic;
}
figure{
    margin: 0;
}


.golden-font{
    color:var(--golden-text);
}
.full-width{
    width: 100%;
    //min-width: 1920px;
    margin: 0;
}
.dark{
    background-color: var(--dark-background);
    color:var(--white-text);
}
.white{
    background-color: var(--white-text);
    color: var(--black-text);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-center{
    justify-content: center;
}

.red-button{
    padding:24px 66px 23px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    background-color:var(--red-background);
    color:var(--white-text);
    border-radius: 10px;
    border: none;
}
.white-button{
    padding: 15px 30px 15px 35px;
    font-weight: normal;
    font-size: 28px;
    line-height: 20px;
    background-color: var(--white-text);
    border: none;
}
.black-button{
    padding: 0 36px;
    font-weight: 300;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    background-color: var(--black-text);
    color: var(--white-text);
    border: none;
}
.golden-hover:hover{
    background-color: var(--golden-text);
    transition:background-color 0.2s ease-in;
}
.golden-font-hover:hover{
    color: var(--golden-text);
    transition:color 0.2s ease-in;
}

.no-transition{
    background-color: #710707;
    transition: none !important;
}

header{
    padding: 74px 0 75px;
    box-sizing: border-box;
    margin: 0;
    border: none;
}
.main-wrp{
    width: 100%;
    min-width: 1920px;
}
.section{
    width: 100%;
    margin: 0;
    padding: 74px 0 75px;
    box-sizing: border-box;
}
.section-container{
    margin: 0 auto;
    
    max-width: 1440px;
}
.section-header{
    padding-bottom: 26px;
    border-bottom: 3px solid var(--red-background);
}

.flex-wrap-element{
    height: 100%;
}

.header-navigation{
    align-items: center;
    height: 0;
}
.logo{
    align-items: baseline;
    // height: 50px;
    cursor: pointer;
    gap:25px;
    &-img{
        position: relative;
        width: 49px;
        height: 26px;
        background: url("../assets/svg/logo.svg") no-repeat;
    }
    &-text{
        display: block;
        margin: 0;
        text-transform: uppercase;
        font-family: var(--font-forum);
        font-weight:400;
        letter-spacing: 5px;
        font-size: 28px;
    }
    .logo:hover &-img{
        filter: var(--golden-filter);
        transition:filter 0.2s ease-in;
    }
    .logo:hover &-text{
        color: var(--golden-text);
        transition:color 0.2s ease-in;
    }
}


// .main-menu{
//     margin-left: 525px;
// }
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    gap: 55px;
    &-item{
        &-link{
            font-weight: 200;
            // font-size: 22px;
            font-size: 23px;
            letter-spacing: 2px;
            color: var(--white-text);
        }
        &-link:hover,&-link:active{
            color: var(--golden-text);
            transition:color 0.2s ease-in;
        }
    }
    
}

.welcome{
    padding: 0;
    //overflow: hidden;
    &-container{
        max-width: 1920px;
        //width: 1920px;
        padding: 0 0 0 240px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        // background-image: url("assets/img/night-louvre.jpg");
        // background-size: 1215px 750px;
        // background-position: calc(50% + 352px) bottom;
        // //background-position: right bottom;
        // background-repeat: no-repeat;
    }
    &-content-wrp{
        position: relative;
        z-index: 2;
        width: 598px;
        min-height: 390px;
        margin-top: 150px;
    }
    &-text{
        margin: 26px 0 76px;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
    }
    &-button{
        font-weight: 200;
    }  
    &-slider{
        position: relative;
        width: 1000px;
        height: 750px;
        margin-left: -160px;
        overflow-x: hidden;
        padding-bottom: 60px;
        &:before{
            content: '';
            position: absolute;
            top:0;
            left: -1px;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%),;
            pointer-events: none;
        }
        &-controls{
            position: absolute;
            bottom:0px;
            right: 0;
            display: flex;
            flex-direction: row;
            gap:55px;
            justify-content: center;
            align-items: center;
            min-width: 600px;
            height: 120px;
            background-color: var(--dark-background);
            &-text{
                font-size: 22px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap:7px;
                // margin-right: 55px;
            }
            &-buttons{
                display:flex;
                gap: 25px;
                padding-left: 7px;//they are not in the center!
                // margin-right: 55px;
            }
            &-btn{
                width: 16px;
                height: 16px;
                background-color: var(--white-text);
            }
            &-btn.active{
                width: 16px;
                height: 16px;
                background-color: var(--golden-light);
            }
            &-btn:hover{
                background-color: var(--golden-text);
            }
            &-arrows{
                display: flex;
                flex-direction: row;
                gap:20px;
            }
            &-arrows div{
                width: 30px;
                height: 8px;
            }
            &-arrows div:hover{
                filter: var(--golden-filter);
            }
            .arrow-left{
                background-image: url('../assets/svg/arrow-left.svg');
            }
            .arrow-right{
                background-image: url('../assets/svg/arrow-right.svg');
            }
        }
        &-content{
            position: absolute;
            left:var(--welcome-slider-offset);
            width: 100%;
            padding: 0;
            margin:0;
            display: flex;
            flex-direction: row;
            transition: left ease-in 0.3s ;
            &-item{
                width:100%;
                flex-shrink: 0;
            }
        }
    } 
}

.visiting{
    padding-bottom: 2px;
    &-link{
        display: block;
    }
    &-cards-wrp{
        margin-top: 75px;
        column-gap: 60px;
        row-gap: 2px;
    }
}
.card{
    width:440px;
    height: 422px;
    margin: 0;
    margin-bottom: 75px;
    font-weight: 200;
    color:var(--black-text);
    &-img{
        width: 100%;
        height: 285px;
        margin-bottom: 24px;
    }

    &-header:after{
        content: '';
        display: block;
        margin-top: 10px;
        width: 300px;
        height: 2px;
        //border-bottom: 2px solid var(--red-background);
        background-color:var(--red-background);
        transition: width 1s;
    }

    .card:hover &-header:after{
        width: 100%;
    }

    &-tour{
        display: block;
        margin-top: 10px;
        font-size: 22px;
        line-height: 26px;
    }

    &-googlestreet{
        display: block;
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }

}

.explore{
    &-caption{
        width:659px;
    }
    &-text{
        margin-top: 26px;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
    }
    &-text:first-of-type{
        margin-top: 80px;
    }
    &-img{
        position: relative;
        margin: 17px 0 4px 61px;
        width: 720px;
        height: 700px;
        overflow:hidden;
        & .compare {
            position: absolute;
            width: 720px;
            height: 700px;
            overflow: hidden;
            & img{
                display: block;
                width: auto;
                height: 100%;
            }
        }
        
        .compare-slider {
            position: absolute;
            z-index: 2;
            cursor: ew-resize;
            width: 32px;
            height: 32px;
            border:4px solid var(--white-text);
            border-radius: 50%;
            background-color: transparent;
        }
        .compare-slider:before,.compare-slider:after{
            position: absolute;
            left:14px;
            top:35px;
            content: '';
            width: 0;
            height: 400px;
            border-right: 4px solid var(--white-text);
        }
        .compare-slider:before{
            top:-400px;
        }
    }


}

.video{
    padding-top: 70px;
    padding-bottom: 75px;
    &-player{
        // width: 100%;
        object-fit: cover;
    }
    &-player-wrp{
        position: relative;
        width: 1440px;
        height: 650px;
        margin: 50px 0 125px;
    }
    &-player-start{
        position: absolute;
        top: 206px;
        left: 611px;
        content: '';
        display: block;
        width: 220px;
        height: 220px;
        fill: var(--white-text);
        transition: fill 0.1s ease-in;
    }
    &-player-controls{
        position: absolute;
        bottom: -85px;
        align-items: center;
        padding: 2px 25px 0 30px;
        box-sizing: border-box;
        width: 1440px;
        height: 85px;
        gap:50px;
        background-color: var(--black-text);
        &-btn{
            height: 30px;
            // margin-right: 41px;
            background-color: transparent;
            border: none;
        }
        &-btn:hover{
            filter: var(--golden-filter);
            transition:filter 0.2s ease-in;
        }
        &-back{
            width: 27px;
            background: url("../assets/svg/back.svg") no-repeat;
        }
        &-play{
            width: 23px;
            background: url("../assets/svg/play.svg") no-repeat;
        }
        &-forward{
            width: 27px;
            background: url("../assets/svg/forvard.svg") no-repeat;
        }
        &-mute{
            // margin-right: 20px;
            width: 38px;
            background: url("../assets/svg/volume.svg") no-repeat;
        }
        &-full{
            margin-right: 0;
            width: 38px;
            height: 38px;
            background: url("../assets/svg/full-screen.svg") no-repeat;
        }

        &-bar{
            height: 8px;
            background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
            border: none;
            outline: none;
            transition: background 450ms ease-in;
            -webkit-appearance: none;
        }
        &-bar::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background: #ffffff;
        }
        &-progress{
            width: 929px;
            // margin-right: 41px;
        }
        &-volume{
            width: 155px;
            // margin-right: 48px;
        }
        //background: url("assets/img/video-controls.png") no-repeat;
        // transition: filter 0.1s ease-in;
    }
    &-player-wrp:hover &-player-start{
        fill:var(--golden-text)
    }
    // &-player-wrp:hover &-player-controls{
    //     filter: grayscale(50);
    // }
    &-header{
        display: block;
        border: none;
    }
    &-text{
        display: block;
        margin: 10px 0 0;
        width: 720px;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
    }
    &-slider{
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &-controls{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap:20px;
            margin: 40px auto 0;
            & .arrow-left, & .arrow-right{
                width: 10px;
                height: 12px;
                background-image: url("../assets/svg/video-sl-arrow-left.svg");
                transition: filter 0.3s;
            }
            & .arrow-right{
                background-image: url("../assets/svg/video-sl-arrow-rightt.svg");
            }
            & .arrow-left:hover, & .arrow-right:hover{
                filter: var(--golden-filter);
            }
            &-dots{
                display: flex;
                flex-direction: row;
                gap:20px;
            }
            &-dot{
                width: 12px;
                height: 12px;
                background-color: #999999;
                border-radius: 50%;
                transition: background-color 0.3s;
            }
            &-dot:hover{
                background-color: var(--golden-text);
            }
            &-dot.active{
                background-color: var(--dark-background);
            }
        }
    
    }
    &-slider::-webkit-scrollbar {
        display: none;
    } 
    
    &-slides-wrp{
        display: flex;
        flex-direction: row;
        gap: 42px;
        
    }
}
.galery{
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
    max-height: 2200px;
    &:after{
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        pointer-events: none;
    }
    & .section-header{
        border-bottom: none;
        margin-bottom: 50px;
    }
    .flex-wrap-element:nth-last-of-type(2n-1) ~ img, &-first-wrapped:first-of-type {
        margin-top: 50px;
    }
    &-wrp{
        position: relative;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        max-height: 3000px;
        overflow: hidden;
        column-gap: 36px;
        row-gap:  24px;
        & img{
            width: 456px;
        }
    }
}
.tickets{
    position: relative;
    &-form{
        margin-top: 75px;
        
    }
    &-picture{
        width: 720px;
        height: 550px;
        background: url("../assets/img/eneas.jpg") no-repeat;
    }
    &-strong-text{
        margin: 0;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    &-types{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        width:270px;
        &-radio-label{
            position: relative;
            margin: 25px 0 2px;
            font-weight: 300;
            font-size: 22px;
            line-height: 15px;
        }
        &-radio{
            position: relative;
            width: 40px;
            height: 26px;
            margin: 0;
            visibility: hidden;
        }
        
        &-radio-custom{
            position: absolute;
            top:13px;
            left:5px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
        }
        .tickets-types-radio:hover + .tickets-types-radio-custom {
            background-color: var(--golden-text);
        }
        &-radio-custom:before{
            position: absolute;
            top:-6px;
            left:-6px;
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 2px solid var(--black-text);
            border-radius: 50%;
        }

        &-radio:checked + &-radio-custom{
            background-color:  var(--black-text);
            
        }
    }
    &-amount{
        width: 150px;
        margin-left: 240px;
        &-wrp{
            display: flex;
            flex-direction: column;
            gap:18px;
            margin-top: 32px;
        }
        &-label{
            // margin-top: 19px;
            font-weight: 300;
            font-size: 22px;
            line-height: 15px;
        }
        &-header{
            margin-bottom: 15px;
            text-align: right; 
        }
        &-btn{
            padding: 0 10px 0 6px;
            font-family: inherit;
            font-size: 32px;
            line-height: 37px;
            text-align: center;
            color: var(--black-text);
            background-color: transparent;
            border: none;
        }
        &-btn:hover{
            color: var(--golden-text);
        }
        &-input{
            width: 30px;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: var(--black-text);
            background-color: transparent;
            border: none;
            &-wrp{
                height: 50px;
                width: 100%;
                box-sizing: border-box;
                margin: 19px 0 0;
                border: 3px solid var(--black-text);
            }
        }
        &-input::-webkit-outer-spin-button, &-input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }
    }
    &-cost{
        display: block;
        margin-top: 51px;
        letter-spacing: 1.65px;
    }
    &-right-column{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &-submit{
        margin-top: 40px;
    }

    &-modal{
        position: fixed;
        top:0;
        // left:0;
        left:-100%;
        width: 100%;
        height: 100%;
        // width: 100vw;
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in;
        &-close{
            position: absolute;
            top:30px;
            right: 30px;
            width: 25px;
            height: 25px;
            stroke: var(--dark-background);
            transition: stroke 0.3s;
            &:hover{
                stroke: var(--golden-text);
            }
        }
        &-form{
            &-wrp{
                position: relative;
                width: fit-content;
                margin: 0 auto;
                padding: 91px 235px;
                background-color: var(--white-text);
            }
            // margin: 91px auto;
            // width: 970px;
            padding: 0;
            .booking-header{
                border: none;
                font-family: var(--font-forum);
                font-size: 50px;
                line-height: 55px;
                letter-spacing: 0;
                padding: 0;
            }
            & .logo{
                width: 85px;
                height: 41px;
                background-image: url("../assets/svg/logo-booking.svg");
                background-size: contain;
                background-repeat: no-repeat;
                filter: var(--golden-filter);
            }
            &-header{
                position: relative;
                &-text{
                    display: block;
                    margin-top: 16px;
                    font-size: 18px;
                    line-height: 21px;
                    color: var(--red-background);
                }
                &:after{
                    position: absolute;
                    bottom:-12px;
                    content: '';
                    width: 400px;
                    border-bottom: 4px solid var(--red-background);
                    opacity: 0.9;
                }
            }
            &-date-wrp{
                margin-top: 22px;
                gap:20px;
            }
            &-fields-wrp{
                width: 400px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap:20px;
            }
            & .input-wrp{
                position: relative;
                // width: 100%;
                
                .icon{
                    position: absolute;
                    top: 15px;
                    left: 17px;
                    width: 15px;
                    height: 15px;
                }
                .icon-open{
                    position: absolute;
                    top:15px;
                    right:14px;
                    width: 17px;
                    height: 17px;
                    pointer-events: none;
                }
                input, #tickets-select-type{
                    width: 400px;
                    height: 45px;
                    padding-left: 43px;
                    font-size: 18px;
                    line-height: 45px;
                    color: var(--black-text);
                    box-sizing: border-box;
                    border:1px solid var(--dark-background);
                    
                }
                #tickets-date-pick, #tickets-time-pick{
                    width: 190px;
                }
                input[type="date"],input[type="time"]{
                    font-family: var(--font-roboto);
                    font-size: 16px;
                }
                input[type="date"]::-webkit-inner-spin-button,
                input[type="date"]::-webkit-calendar-picker-indicator,
                input[type="time"]::-webkit-inner-spin-button,
                input[type="time"]::-webkit-calendar-picker-indicator {
                    opacity: 0;
                }

                #tickets-tel-pick ~ img{
                    width: 16px;
                    height: 23px;
                    top: 11px;
                    left: 15px;
                }
                #tickets-select-type{
                    background-color: var(--white-text);
                    appearance: none;
                    .select-checkbox{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 45px;
                        opacity: 0;
                    }
                    .select-checkbox:checked ~ .select-wrp{
                        display:block  
                    }
                    .select-wrp{
                        position: absolute;
                        top: 45px;
                        left:0;
                        width: 100%;
                        border: 1px solid var(--dark-background);
                        display: none;
                    }
                    .select-option{
                        display: block;
                        width: 100%;
                        height: 45px;;
                        padding-left: 40px;
                        box-sizing: border-box;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 45px;
                        background-color: var(--white-text);
                        color: var(--dark-background);
                        overflow: hidden;
                    }
                    .select-option:hover{
                        background-color: #e7e7e7;
                    }
                    // option:first-of-type{
                    //     display: none;
                    // }
                }

            }
            .amounts{
                &-wrp{
                    width: 400px;
                    height: 135px;
                    padding: 10px 15px 15px;
                    box-sizing: border-box;
                    background-color: var(--white-text);
                    .amount-label{
                        font-size: 18px;
                        margin-top: 15px;
                        align-items: center;
                    }
                    .amount-btn{
                        width: 35px;
                        height: 25px;
                        background-color: var(--dark-background);
                        color: var(--white-text);
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .amount-input{
                        width: 33px;
                        height: 22px;
                        padding: 0;
                        font-size: 18px;
                        text-align: center;
                        color: var(--dark-background);
                        background-color: var(--white-text);
                    }
                    .amount-input::-webkit-outer-spin-button, .amount-input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0; 
                    }
                }
                &-header{
                    font-size: 18px;
                    color: var(--golden-text);
                    &:after{
                        content: '';
                        display: block;
                        width: 370px;
                        margin-top: 3px;
                        border-bottom: 2px solid var(--red-background);
                    }
                }
                
                
            }
            .right-col{
                width: 530px;
                height: 663px;
                padding: 26px 27px 25px 30px;
                box-sizing: border-box;
                margin-left: 40px;
                border:1px solid var(--dark-background);
            }
            &-img{
                float: right;
                width: 150px;
                height: 120px;
                background-image: url("../assets/img/tickets-small-img.jpg");
                background-size: cover;
            }
            &-overview{
                &-header{
                    margin: 0;
                    width: fit-content;
                    font-weight: 500;
                    font-size: 32px;
                    color:#272727;
                }
            }
            &-tour{
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                color: var(--red-background);
                opacity: 0.9;
                margin-bottom: 10px;
            }
            &-total{
                margin-top:15px;
                color: var(--dark-background);
                .line{
                    position: relative;;
                    display: flex;
                    justify-content: space-between;
                    font-size: 22px;
                    margin-bottom: 6px;
                    line-height: 28px;
                    .total-amount{
                        display: inline-block;
                        min-width: 32px;
                        height: 21px;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
                        border-radius: 6px;
                        background-color: var(--dark-background);
                        color: var(--white-text);
                    }
                    
                }
                .line-total{
                    margin-top: 21px;
                    margin-bottom: 12px;
                    font-size: 32px;
                    line-height: 37px;
                    .sum{
                        font-weight: 500;
                    }
                }
                .line-total:before{
                    position: absolute;
                    top:-13px;
                    content: '';
                    display: block;
                    width: 470px;
                    border-bottom: 2px solid var(--red-background) ;
                }
            }
            .icon{
                width: 17px;
                height: 23px;
                margin-right: 10px;
            }
            .icon ~ span{
                padding-top: 2px;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
            }

            .card{ //TODO fix classname card is already used
                position: relative;
                margin: 0;
                width: 100%;
                height: initial;
                margin-bottom: 55px;
                &-face{
                    position: relative;
                    z-index: 2;
                    width: 360px;
                    height: 211px;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    background-color: #bcbcbc;
                    .pay-visa{
                        position: absolute;
                        top:33px;
                        right: 20px;
                        width: 55px;
                        height: 16px;
                    }
                    .pay-mc{
                        position: absolute;
                        top:64px;
                        right: 20px;
                        width: 53px;
                        height: 32px;
                    }
                    .card-label{
                        font-size: 12px;
                        line-height: 14px;
                        color: #161615;
                    }
                    .card-name{
                        display: inline-block;
                        margin-top: 10px;
                    }

                    .card-exp{
                        position: relative;
                        margin-top: 10px;
                    }
                    .card-input{
                        display: block;
                        margin-top: 5px;
                        height: 35px;
                        width: 215px;
                        background: #FFFFFF;
                        border: 0.5px solid #A4A4A3;
                        padding: 0 5px;
                        box-sizing: border-box;
                        &-name{
                            text-transform: uppercase;
                            width: 320px;
                        }
                        &-exp{
                            position: relative;
                            width: 100px;
                            input[type=number]::-webkit-inner-spin-button {
                                // -webkit-appearance: none;
                                height: 17px;
                                width: 28px;
                            }
                            
                            &-wrp{
                                position: relative;
                                .up-btn, .down-btn{
                                    position: absolute;
                                    right:11px;
                                    z-index: 2;
                                    content: '';
                                    display: block;
                                    width: 28px;
                                    height: 18px;
                                    border:none;
                                    border-left: 0.5px solid #A4A4A3;
                                    background-color: var(--white-text);
                                    background-repeat: no-repeat;
                                    background-position: 10px 12px;
                                    transition: background-color 0.3s;
                                }
                                .up-btn{
                                    top: 6px;
                                    background-image: url("../assets/svg/card-arrow-up.svg");
                                    }
                                .down-btn{
                                    bottom: 1px;
                                    background-image: url("../assets/svg/card-arrow-down.svg");
                                    background-position: 10px 4px;
                                }  
                                // .up-btn:hover, .down-btn:hover{
                                //     background-color: #A4A4A3;
                                // } 
                            }    
                        }
                        &-exp:first-of-type{
                            margin-right: 14px;
                        }
                    }
                }
                &-cvv{
                    position: absolute;
                    z-index: 1;
                    top:30px;
                    left:110px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;
                    width: 360px;
                    height: 211px;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    background-color: #939393; 
                    &:before{
                        position: absolute;
                        left:0;
                        top:25px;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 45px;
                        background-color: #161615;
                    }
                    .card-label{
                        margin-top: 75px;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: #161615;
                    }
                    .card-input{
                        appearance: none;
                        display: block;
                        margin-top: 5px;
                        height: 35px;
                        width: 75px;
                        background: #FFFFFF;
                        border: 0.5px solid #A4A4A3;
                        padding: 0 5px;
                        box-sizing: border-box;
                    }
                    .card-cvv-info{
                        width: 55px;
                        margin: 8px 10px;
                        font-size: 10px;
                        line-height: 12px;
                        color: #161615;
                    }
                }
            }
            .book-submit{
                width: 220px;
                height: 45px;
                border-radius: 0;
                font-size: 22px;
                line-height: 45px;
                padding: 0;
                float: right;
            }
        }
    }
}

.parallax{
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/parallax.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.contacts{
    &-wrp{
        width:282px
    }
    &-name{
        margin: 75px 0 50px;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }
    &-list{
        margin: 0;
        padding: 0;
        list-style: none;
        &-item{
            margin-top: 25px;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
        }
    }
    &-map{
        margin-top: 75px;
        width: 960px;
        height: 620px;
        background: url("../assets/img/map.png") no-repeat;
    }
}
.footer{
    padding: 80px 0 0;
    height: 392px;
}
.footer-container{
    margin-top: 1px;
    margin-bottom: 33px;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:25px;
    justify-content: flex-start;
    height: 150px;
    margin-left: 145px;
    &-item{
        margin-right: 140px;
    }
}

.footer-socials{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 510px;
    align-self: flex-end;
    &-item{
        margin-right: 24px;
    }
    &-item:last-child{
        margin-right: 0;
    }
    &-item-link{
        display: block;
        width: 48px;
        height: 48px;
        background: url("../assets/svg/Social.svg");
    }
    
    &-item-link:hover{
        filter: var(--golden-filter);
        border-color: var(--golden-text);
        transition:filter 0.2s ease-in, border-color 0.2s ease-in;
    }
    &-item-link:active{
        transform: scale(0.9);
        transition:transform 0.1s ease-in;
    }
}
#social-yt{
    background-position: 0;
}
#social-pin{
    background-position: 48px;
}
#social-inst{
    background-position: 264px;
}
#social-tw{
    background-position: 120px;
}
#social-fb{
    background-position: 192px;
}

.additional-footer{
    width: 100%;
    height: 125px;
    padding-top: 50px;
    box-sizing: border-box;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;

    
    border-top: 3px solid #666666;
    &-link{
        transition: color 0.3s;
    }
    &-link:hover{
        color: var(--golden-text);
    }   
}
