.garage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.garage-count {
  color: #aaaaaa;
}
