@import "vars.scss";

.crumps {
  align-self: flex-start;
  justify-self: flex-start;
  font-weight: bold;
  padding: 1vh 1vw;
  border-radius: 1vw;
  @include glass-background;

  &>span {
    display: inline-block;

    color: var(--color);
  }

  &>span:not(:last-child),
  &>span:first-child {
    @include active-behavior;
  }

  &>span:after {
    content: '>';
    padding: 0 1vw;
  }

  &>span:last-child:after {
    content: '';
  }
}