@import "vars.scss";
.question {
  &-wrp {
    padding: 5vh 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh 2vw;
    border: 1px solid #fff;
    border-radius: 2vw;
    height: 90vh;
    overflow: hidden;
    width: 90vw;
    box-sizing: border-box;
    
    @include glass-background;
    }
    &-main-picture {
      max-width: 80vw;
      max-height: 45vh;
      border-radius: 2vw;
      margin: 2vh 0;
    }

    &-answers {
      box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
      border-radius: 2vw;
      box-sizing: border-box;  
      user-select: none;
      &-wrp {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 2vh 5vw;
      }
      @include active-behavior;

      &-author {
        padding: 1vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-picture {
        padding: 0;
        max-width: 20vh;
        max-height: 20vh;
        text-align: center;
        margin: 0 auto;
        align-self: center;
      }
    }
  }
