@import "vars.scss";
.results{
  &-container{
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    background-color: var(--anti-color);
    border-radius: 2vw;
    border: 2px solid var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    & *{
      transform: none;
      transition: transform 0.5s;
    } 
  }
  &-phrase{
    font-size: 2em;
    text-align: center
  }
  &-button{
    @include active-behavior;
    @include rounded-button;
  }
  &-questions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    &-marker{
      width: 10vw;
      height: 10vw;
      border-radius: 50%;
      background-size: contain;
      border: 2px solid goldenrod;
      @include active-behavior;
      &-wrong {
        filter: grayscale(1);
        border: 2px solid var(--color);
      }
    }
  }
  
}
.low-result{
  border-color: var(--wrong-color);
  box-shadow: 0px 0px 15px 0px var(--wrong-color);
  .results-phrase{
    color: var(--wrong-color);
  }
}

.high-result{
  border-color: goldenrod;
  box-shadow: 0px 0px 15px 0px goldenrod;
  .results-phrase{
    color: goldenrod;
  }
}

@media (min-width:520px){
  .results-questions-marker{
    width: 5vw;
    height: 5vw;
  }
}

@media (min-width:1000px){
  .results-questions{
    padding: 0 5vw;
  }
}