@import "vars.scss";
.rounds, .round{
  &-wrp{
    width:80vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vh 2vw;
    flex-wrap: wrap;
    padding: 2vw;
  }
  &-opener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border: 2px solid var(--color);
    border-radius: 2vw;
    box-shadow: var(--button-shadow);
    background-color: var(--button-background-color);
    backdrop-filter: var(--glass-filter);
    font-size: 10vw;
    color: var(--color);
    @include active-behavior;
    *{
      pointer-events: none;
    }
    &-result{
      font-size: 5vw;
    }
  }
  &-header{
    min-width: 100%;
    text-align:center;
  }
  
  &-not-solved{
    filter: grayscale(100);
  }
}

@media (min-width: 900px){
  .round-opener, .rounds-opener{
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
    &-result{
      font-size: 2vw;
    }
  }
}