:root{
  // shadows and filters https://codepen.io/rebelchris/pen/WNGpVEZ
  --block-shadow:0 0 1rem 0 rgb(0 0 0 / 20%);
  --block-background-color: rgba(255, 255, 255, 0.1);
  --glass-filter:blur(10px) saturate(100%) contrast(45%) brightness(130%);
  
  --background:url("/images/background_1920.jpg");
  --color: white;
}

@mixin active-behavior{
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.03) translateY(2px);
  }
}

@mixin glass-background{
  box-shadow: var(--block-shadow);
  background-color:var(--block-background-color);
  backdrop-filter: var(--glass-filter);
}