.toys-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  width: 100%;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.toys-container__text {
  display: block;
  height: 50px;
  padding: 10px;
  font-family: var(--header-font-family);
  font-size: 24px;
  line-height: 50px;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200px) {
  .toys-container {
    padding-bottom: 80px;
  }
}
