.winners {
  position: absolute;
  top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: calc(100% - 40px);
  background-color: #222222;
  color: azure;

  padding: 20px 0;
  box-sizing: border-box;

  z-index: 10;
  display: none;
}

.winners-table thead {
  font-size: 1.5em;
  font-weight: bold;
}

.winners-table td {
  padding: 0 20px;
}

.winners-visible {
  display: flex;
}
