.winners {
  position: absolute;
  top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: calc(100% - 40px);
  background-color: #222222;
  color: #aaaaaa;

  padding: 20px 0;
  box-sizing: border-box;

  z-index: 10;
  display: none;
}

.winners-table thead {
  font-size: 1.5em;
  font-weight: bold;
}

.winners-table td {
  padding: 0 20px;
}

.winners-visible {
  display: flex;
}

.sort-asc,
.sort-desc,
.sort-none {
  position: relative;
  cursor: pointer;
}

.sort-desc::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  right: 0px;
  border: 5px solid transparent;
  border-top: 5px solid #aaaaaa;
  box-sizing: border-box;
}

.sort-asc::after {
  position: absolute;
  content: "";
  display: block;
  top: calc(50% - 5px);
  right: 0px;
  border: 5px solid transparent;
  border-bottom: 5px solid #aaaaaa;
  box-sizing: border-box;
}

.sort-none::after {
  position: absolute;
  content: "sort";
  display: block;
  font-size: 0.3em;
  font-weight: normal;
  top: 0;
  right: 0;
}
