.favorite-button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  margin-top: 10px;
}
.favorite-button svg {
  width: 30px;
  height: 30px;
  fill: goldenrod;
  opacity: 0.5;
}
.favorite-button:hover {
  transform: scale(1.1);
}
