.shape-filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.shape-filter__header {
  width: 100%;
  text-align: left;
  font-family: var(--header-font-family);
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.shape-filter__lbl {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.shape-filter__lbl:hover {
  transform: scale(1.1);
}

.shape-filter__check {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  width: 40px;
  height: 40px;
}

.shape-filter__icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  fill: white;
  transition: fill 0.3s;
}

.shape-filter__check:checked ~ .shape-filter__icon {
  fill: goldenrod;
}
@media (max-width: 1200px) {
  .shape-filter__header {
    text-align: center;
  }
}
