.tree-selector__wrp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.tree-selector__header {
  width: 100%;
  text-align: center;
  font-family: var(--header-font-family);
  font-size: 18px;
  line-height: 20px;
  color: white;
}
.tree-selector__miniature {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff, inset 0 0 10px #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}
.tree-selector__radio {
  visibility: hidden;
}

.tree-selector__radio:checked
  ~ .tree-selector__label
  .tree-selector__miniature {
  box-shadow: 0 0 10px goldenrod, inset 0 0 10px goldenrod;
}

.tree-selector__miniature:hover {
  transform: scale(1.1);
}
