.filters-container {
  width: 550px;
  min-height: 100vh;
  padding: 25px 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.favorite-button {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  /* gap: 10px; */
}

.favorite-button__text {
  font-family: var(--header-font-family);
  font-size: 18px;
  /* line-height: 20px; */
  color: goldenrod;
}
