.toys-app {
  text-align: center;
  background-image: url("../../assets/bg.jpg");
  min-width: 100%;
  min-height: 100%;
  display: flex;
}
@media (max-width: 1200px) {
  .toys-app {
    flex-direction: column;
  }
}
