.count-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.count-filter__header {
  width: 100%;
  text-align: left;
  font-family: var(--header-font-family);
  font-size: 18px;
  line-height: 20px;
  color: white;
}
@media (max-width: 1200px) {
  .count-filter__header {
    text-align: center;
  }
}
