.track {
  position: relative;
  width: 80%;
  border-bottom: 4px dashed #bbbbbb;
  color: #aaaaaa;
}
.track:before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  background-color: #aaaaaa;
  bottom: 0px;
  left: 90%;
}

.track::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 30px;
  left: 90%;
  border: 10px solid transparent;
  border-left: 30px solid red;
  box-sizing: border-box;
}
.car {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  color: #aaaaaa;
  transition: left 0.2s linear;
  left: 0;
  z-index: 2;
}

.car-controls {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  visibility: hidden;
  z-index: 5;
}

.track:hover .car-controls {
  visibility: visible;
}

.car-icon {
  width: 100%;
  height: 50px;
}

.car-edit-checkbox {
  visibility: hidden;
}
.car-edit-button {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.car-edit-button-icon,
.car-delete-button-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.car-edit-button-icon:hover,
.car-delete-button-icon:hover,
.car-start-button-icon:hover,
.car-stop-button-icon:hover {
  color: #ffffff;
}

.car-edit-form {
  position: absolute;
  top: 25px;
  left: 30px;
}

.car-delete-button {
  display: block;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  padding: 0;
}

.car-start-button-icon {
  display: block;
  width: 0px;
  height: 0px;

  border: 10px solid transparent;
  border-left: 20px solid currentColor;
  box-sizing: border-box;
}

.car-stop-button-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: currentColor;
}

.no-transition {
  transition: none;
}
